/* Mil LivePreview Yellow - Custom CSS snippet for Yellow mode for LivePreview view by Mil Stamenković*/
/* © 2026 Mil Stamenković */
/* Additional help by Free Claude AI */
/* Created  02.03.2026. - Ćuprija, Serbia - Mil Stamenković */
/* Revised: 05.03.2026. - Ćuprija, Serbia - Mil Stamenković */



/* YELLOW THEME COLORS */
/* White color  = #c8c8c8 */
/* Red color    = #871600 */
/* Black color  = #000000 */
/* Yellow color = #FFF6DE */



/* VARIABLES */
:root {
    --background-table: #FFF6DE;
    --text-table: auto;
    --text-editor: red;
    --text-heading: auto;
}



/* LivePreview view, Reading view */
.markdown-source-view.mod-cm6.is-live-preview, .markdown-preview-view {
    /* Note background color */
    background-color: #FFF6DE;
    /* Text color */
    color: #000000;
    /* Other colors */
    --background-primary: #000000;
    --background-primary-alt: magenta;
    --background-secondary: #131313;
    --background-secondary-alt: magenta;
    --background-modifier-border: #871600;
    --background-modifier-form-field: #131313;
}

/* LivePreview and Source view */
.markdown-source-view.mod-cm6.is-source-mode {

    color: blue !important;
    
    /* Text color */
    --text-muted: #999999;
    --text-faint: #666666;
    --text-on-accent: #ffffff;

    /* Link colors */
    --link-color: #ff0000;
    --link-unresolved-color: #ff0000;
    
    /* Code colors */
    --code-background: #2d2d2d;
    --code-normal: #e06c75;
    
    /* REMOVE TAB LINES */
    --indentation-guide-width: 0px;
    --indentation-guide-color: transparent;
    --indentation-guide-color-active: transparent;
    
}

/* Color of ==highlighted== text */
.cm-highlight {
    color: #000000 !important;
}



/* Headers */
.cm-header-1 {
    color: var(--text-heading);
    font-size: 1.8em;
}
.cm-header-2 {
    color: var(--text-heading);
    font-size: 1.6em;
}
.cm-header-3 {
    color: var(--text-heading);
    font-size: 1.4em;
}
.cm-header-4 {
    color: var(--text-heading);
    font-size: 1.2em;
}
.cm-header-5 {
    color: var(--text-heading);
    font-size: 1.1em;
}
.cm-header-6 {
    color: var(--text-heading);
    font-size: 1.0em;
}



/* Table color */
table {
    background-color: transparent !important;
    border-color: #000000 !important;
}

/* Table rendered view */
table th,
table td {
    border-color: #000000 !important;
    color: var(--text-table) !important;
}

/* Color of ==highlighted== text in LivePreview and Source table */
table mark,
table .cm-highlight {
    color: var(--text-table) !important;
}

/* Tables inside callouts - Inherit callout background color */
.callout table {
    background-color: inherit !important;
}

.callout table th,
.callout table td {
    background-color: inherit !important;
    border-color: #000000 !important;
    color: var(--text-table) !important;
}



/* Never crossout text after Checkboxes */
.task-list-item.is-checked {
    text-decoration: none !important;
}


/*  OBSIDIAN INTERFACE */

/* Color of FOLDER OF ACTIVE NOTE FILE in Folder/Notes Explorer */
/* Only FIRST PARENT folder */
.tree-item.nav-folder:has(> .tree-item-children > .tree-item.nav-file > .is-active) > .tree-item-self.nav-folder-title {
    background-color: #4e0d00 !important;
}

/* Color of ACTIVE NOTE FILE in Folder/Notes Explorer */
.tree-item-self.nav-file-title.tappable.is-clickable.is-active {
    background-color: #4e0d00 !important;
    box-shadow: none !important;
}

/* Color of all PARENT folders of OPENED note file in Folder/Files Explorer */
.tree-item.nav-folder:has(> .tree-item-children .is-active) > .tree-item-self.nav-folder-title {
    /* Darker than ACTIVE */
    background-color: #240600 !important;
}

/* Hover color over folders and files in Folder/Files Explorer */
.tree-item-self:hover {
    /* Darker than ACTIVE */
    background-color: #240600 !important;
}



/* Icons icons */
.vertical-tab-nav-item.tappable.is-active,
.workspace-tab-header-inner-icon,
.nav-action-button svg,
.side-dock-ribbon-action svg,
.clickable-icon svg {
    color: #871600 !important; /* Icon color */
}



/* [[]] menu colors */
.suggestion-item.is-selected {
    background-color: #871600 !important; /* Selected item background */
    color: #c8c8c8 !important;
}

.suggestion-item.is-selected .suggestion-note {
    color: #c8c8c8 !important;
}



/* Text Input Fields */
input[type='text'] {
    background-color: inherit !important;
    border: none !important;
}

input[type='text']:hover {
    background-color: inherit !important;
    border: none !important;
}

/* Black screen around working area in note */
.markdown-preview-view,.markdown-source-view {
    max-width: 960px;
    margin: auto;
}
























/* TMP fix for the LIST INDENT */
/* 14.03.2026. */
/* DELETE/TURN OFF when Obsidian FIX it! */
.HyperMD-list-line-nobullet {
    text-indent: -14px !important;
    padding-inline-start: 22px !important;
}