/* mil-dc - Mil Daily Calendar Callout - Custom CSS snippet for Daily Calendar callout by Mil Stamenković */
/* © 2026 Mil Stamenković */
/* Callout used only when Daily Calendar has to be integrated into a note. */
/* Created: 24.02.2026. - Ćuprija, Serbia - Mil Stamenković */
/* Revised: 24.02.2026. - Ćuprija, Serbia - Mil Stamenković */



/* Mil To Do Callout - Size, color and padding */
.callout[data-callout="mil-dc"] {
  --callout-color: 255, 255, 0 !important;
  --callout-title-color: gray !important;
  --callout-icon: lucide-alert-triangle !important; 
  /* Callout Padding */
  /* Top Right Bottom Left */
  --callout-title-padding: 0% 0% 0% 1%;
  /* callout-content-padding LEFT 1% for visible CHECKBOX */
  --callout-content-padding: 1px;
}

/* Callout title text size */
.callout[data-callout="mil-dc"] .callout-title {
  font-size: 1.2em !important;
}

/* Removes the extra margin from the very first bullet to keep it aligned with the top */
.callout[data-callout="mil-dc"] .callout-content li:first-child {
  margin-top: 0px !important;
}

/* Line space between bullet points/list items */
.callout[data-callout="mil-dc"] .callout-content li {
  margin-top: 1.5em !important;
  margin-bottom: 1.5em !important;
}

/* Clickable checkboxes inside Callout content */
.is-live-preview .cm-embed-block:has(.callout[data-callout="mil-dc"]) .task-list-item-checkbox,
.is-live-preview .cm-embed-block:has(.callout[data-callout="mil-dc"]) input[type="checkbox"],
.is-live-preview .cm-embed-block:has(.callout[data-callout="mil-dc"]) .list-item-checkbox {
  pointer-events: auto !important;
  cursor: pointer;
}

/* Click on Title makes Callout FOLDED or EXPANDED */
.is-live-preview .cm-embed-block:has(.callout[data-callout="mil-dc"]) .edit-block-button,
.is-live-preview .cm-embed-block:has(.callout[data-callout="mil-dc"]) a,
.is-live-preview .cm-embed-block:has(.callout[data-callout="mil-dc"]) .internal-link,
.is-live-preview .cm-embed-block:has(.callout[data-callout="mil-dc"]) .callout-fold,
.is-live-preview .cm-embed-block:has(.callout[data-callout="mil-dc"]) .callout-icon,
.is-live-preview .cm-embed-block:has(.callout[data-callout="mil-dc"]) .callout-title {
  pointer-events: auto !important;
}



/* <<------------- Hide Strikethrough in READING VIEW ----------------->> */
.markdown-preview-view ul>li.task-list-item {
  text-decoration: none;
  color: inherit;
}
/* <<------------- Hide Strikethrough in LIVE PREVIEW ----------------->> */
.markdown-source-view.mod-cm6 .HyperMD-task-line[data-task="x"] {
  text-decoration: none;
  color: inherit;
}