/* mil-1 - Mil Callout 1 - Custom CSS snippet for callout by Mil Stamenković */
/* © 2026 Mil Stamenković */
/* Red callout with ! icon, non-clickable Callout filed (except right side icon and title), clickable links and checkboxes inside and 1.5em space between rows. */
/* Created: 16.01.2026. - Ćuprija, Serbia - Mil Stamenković */
/* Revised: 22.02.2026. - Ćuprija, Serbia - Mil Stamenković */



/* Mil Callout 1 - Size, color and padding */
.callout[data-callout="mil-1"] {
  --callout-color: 255, 0, 0 !important;
  --callout-title-color: gray !important;
  --callout-icon: lucide-alert-triangle !important; 
  /* Callout Padding */
  /* Top Right Bottom Left */
  --callout-title-padding: 0% 0% 0% 1%;
  /* callout-content-padding LEFT 1% for visible CHECKBOX */
  --callout-content-padding: 0% 2% 0% 2%;
}

/* Callout title text size */
.callout[data-callout="mil-1"] .callout-title {
  font-size: 1.2em !important;
}

/* Removes the extra margin from the very first bullet to keep it aligned with the top */
.callout[data-callout="mil-1"] .callout-content li:first-child {
  margin-top: 0px !important;
}

/* Line space between bullet points/list items */
.callout[data-callout="mil-1"] .callout-content li {
  margin-top: 1em !important;
  margin-bottom: 1em !important;
}

/* Mouse clicks DISABLED inside Callout content */
.is-live-preview .cm-embed-block:has(.callout[data-callout="mil-1"]) {
  pointer-events: none !important;
}

/* Clickable checkboxes inside Callout content */
.is-live-preview .cm-embed-block:has(.callout[data-callout="mil-1"]) .task-list-item-checkbox,
.is-live-preview .cm-embed-block:has(.callout[data-callout="mil-1"]) input[type="checkbox"],
.is-live-preview .cm-embed-block:has(.callout[data-callout="mil-1"]) .list-item-checkbox {
  pointer-events: auto !important;
  cursor: pointer;
}

/* Click on Title makes Callout FOLDED or EXPANDED */
.is-live-preview .cm-embed-block:has(.callout[data-callout="mil-1"]) .edit-block-button,
.is-live-preview .cm-embed-block:has(.callout[data-callout="mil-1"]) a,
.is-live-preview .cm-embed-block:has(.callout[data-callout="mil-1"]) .internal-link,
.is-live-preview .cm-embed-block:has(.callout[data-callout="mil-1"]) .callout-fold,
.is-live-preview .cm-embed-block:has(.callout[data-callout="mil-1"]) .callout-icon,
.is-live-preview .cm-embed-block:has(.callout[data-callout="mil-1"]) .callout-title {
  pointer-events: auto !important;
}

/* Text color after Checkboxes */
.task-list-item.is-checked {
  color: inherit !important;
}