/* Mil Embeds - Custom CSS snippet for Embeds in notes by Mil Stamenković*/
/* © 2026 Mil Stamenković */
/* Additional help by Free Claude AI */
/* Created: 02.03.2026. - Ćuprija, Serbia - Mil Stamenković */
/* Revised: 02.03.2026. - Ćuprija, Serbia - Mil Stamenković */


/* EMBEDS */
/* ...empty CSS for general Embeds */



/* WORK DAILY CALENDARS EMBED */

/* Whole embed field */
.internal-embed[src*="Work Daily Calendars"] .markdown-preview-sizer {
    width: 100% !important;
    max-width: 100% !important;
    margin-left: -25px !important;
    background-color: #FFF6DE !important;
}

/* Main/left side of embed field - Table is located here */
.internal-embed[src*="Work Daily Calendars"] .markdown-preview-section {
    background-color: #fff6c3 !important;
}

/* Right side of embed field - Where arrows for code are */
.internal-embed[src*="Work Daily Calendars"] .markdown-preview-view {
    background-color: transparent !important;
}

/* Title/Headigs of embeded calendar  */
.internal-embed[src*="Work Daily Calendars"] h1, h2, h3, h4, h5, h6 {
    color: #7e7e7e !important;
}

/* Callout from Work Daily Calendar - Left border color */
.internal-embed[src*="Work Daily Calendars"] {
    border-color: #fff6c3 !important;
}

/* Table of Work Daily Calendar */
.internal-embed[src*="Work Daily Calendars"] table td,
.internal-embed[src*="Work Daily Calendars"] table th,
.internal-embed[src*="Work Daily Calendars"] table tr {
    background-color: transparent !important;
    border-color: #7e7e7e !important;
    color: #000000 !important;
}

/* HR line in Table - Separator line */
.internal-embed[src*="Work Daily Calendars"] hr {
    background-color: #000000 !important;
}