/* Mil Floating Headings - Custom CSS snippet for Floating Headings plugin by Mil Stamenković */
/* © 2026 Mil Stamenković */
/* Created: 22.02.2026. - Ćuprija, Serbia - Mil Stamenković */
/* Revised: 25.03.2026. - Ćuprija, Serbia - Mil Stamenković */

/* TO DO */
/* ✔) Push collapsed heading to the right margin - 0 space? */
/* 2) How to make PADDING and MARGIN smaller on top and bottom, between headings? */



/* Bar on the side - Fully on the right margin of note  */
.floating-headings-container {
    right: 0 !important;
}

/* Bar on the side - Only lines are visible */
.floating-headings-collapsed {
    height: 90vh !important;
    background-color: rgba(0, 0, 0, 0) !important;
}

/* Lines on the bar on the side - Lighter color for light/dark themes */
.floating-heading-line {
    background-color: rgba(128, 128, 128, 0.5) !important;
}

/* Opened Outline View - Almost full height of any window size */
.floating-headings-expanded {
    height: 90vh !important;
    max-height: 90vh !important;
    border: none !important;
}

/* Headings in Outline - Text color is red */
.floating-heading-item {
    color: #ff0000 !important;
}

/* TODAY in Heading is WHITE color in Outline */
.floating-heading-item[title="TODAY"] {
    color: white !important;
}