
/* Mil Stamenković style of DB Folder Table for Mil Gitsidian custom theme -- 10.10.2024. - Ćuprija, Serbia */
/* !! Does Not Work With WHITE/LIGHT Theme */


/* Color of Table Text Background */
.database-plugin__embed-link-wrapper + div {
  background-color: black;
}

/* Color of Table Scroll Background */
.database-plugin__markdown-preview-view {
  background-color: transparent;
}

/* Color of Table Tags Background and Text */
.markdown-preview-view a.tag {
  background-color: transparent;
  color: red;
}

/* Color of Internal and External Link Text */
.markdown-preview-view a.internal-link, a.external-link {
  color: red;
}

/*  */
.database-plugin__th-content {
  color: white;
}

/*  */
.database-plugin__transition-fade {
  color: red;
}